

@{
    ViewData["Title"] = "Create";
}
<div class="container-fluid mx-5 my-3">
    <h3>Slider Image</h3>

    <form>
        <div class="form-group">
            <input type="file" class="form-control">
        </div>
        <a class="btn btn-primary"asp-controller="Slider"asp-action="Index">back</a>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>